
@{
    ViewBag.Title = "Довідка";
}

<div>
    <br>
    <h2>Створення та редагування графа</h2>
    <ol>
        <li>
            @Html.ActionLink("Граф", "Graph", "Home")
        </li>
        <li>
            @Html.ActionLink("Додавання вершин", "AddVertices", "Home")
        </li>
        <li>
            @Html.ActionLink("Додавання дуг", "AddEdges", "Home")
        </li>
        <li>
            @Html.ActionLink("Вибір алгоритму", "AlgorithmSelection", "Home")
        </li>
        <li>
            @Html.ActionLink("Переміщення вершин", "MovingVertices", "Home")
        </li>
        <li>
            @Html.ActionLink("Побудова графа по матриці суміжності", "Graph", "Home")
        </li>
        <li>
            @Html.ActionLink("Побудова графа по матриці інцидентності", "Graph", "Home")
        </li>
    </ol>

    <h2>Алгоритми</h2>
    <ol>
        <li>
            @Html.ActionLink("Алгоритм Крускала", "Kruskal", "Home")
        </li>
        <li>
            @Html.ActionLink("Алгоритм Прима", "Prim", "Home")
        </li>
        <li>
            @Html.ActionLink("Пошук Гамільтоновго циклу", "HamiltonianCycle", "Home")
        </li>
        <li>
            @Html.ActionLink("Алгоритм Дейкстри", "Dijkstra", "Home")
        </li>
        <li>
            @Html.ActionLink("Алгоритм Флойда — Воршелла", "FloydWarshallSecond", "Home")
        </li>
        <li>
            @Html.ActionLink("MaxMatches", "MaxMatches", "Home")
        </li>
        <li>
            @Html.ActionLink("Пошук у ширину", "WideSearchTree", "Home")
        </li>
        <li>
            @Html.ActionLink("Пошук у глибину", "DeepSearchTree", "Home")
        </li>
    </ol>
</div>
